/*font-family: 'DM Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
	font-family: "Roboto", sans-serif;
	background: #104034;
}

.navbar-brand h1 {
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.form-wrap{
    margin-top: 68px;
}
.form-wrap .card{
	background:#edeeed;
}
.table-minified tr th, .table-minified tr td{
	padding:2px;
	font-size: 12px;
}

.navbar.navbar-light.bg-light.fixed-top{
	background:#edeeed;
}